.Header {
    display: flex;
    text-align: start;
    padding: 20px 0px;
    align-items: center;
}

.Header-Title {
    font-size: xx-large;
    font-weight: 500;
    color: white;
    padding-left: 20px;
}

.HeaderIcon{
    width: 64px;
    height: 64px;
}