.ToDo {
    width: 100%;
}

.ToDoList {
    display: flex;    
    flex-direction: column;
    padding: 20px;
    border: 1px solid white;
    height: 21rem;
    overflow: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
}
.ToDoList::-webkit-scrollbar {
    display: none;
  }

.ToDoListContainer {
    display: flex;    
    flex-direction: column;
    padding-right: 20px;
    border: 1px solid white;
    height: 21rem;
    width: 25rem;
    overflow: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
}

.ToDoListItem {
    color: white;
    list-style-type: none;
    text-align: start;
    padding: 20px 0px;
    margin: 0 20px;
    border-bottom: 1px solid gray;
}