.App {
  position: fixed;
  text-align: center;
  background-color: #282c34;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Seperator {
  display: flex; 
  margin: 20px 0px; 
  height: 1px; 
  background-color:#FFF
}
